$default_border_radius: 13px;

$primary_color: #00b8d4;
$primary_color_dark: #0088a3;
$primary_input_background_color: #6E6E6E;

.net_nav_pills {
  outline: none;
  margin-bottom: 7px;
  background-color: transparent;
  color: $primary_color_dark;
  text-decoration: none;
  padding: 5px 32px;
  border: 2px solid $primary_color;
  border-radius: $default_border_radius;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: all 0.2s linear;
  &:hover{
    color: aliceblue;
    background-color: #a4a4a4;
  }
}
.nav{
  margin-top: 0%;
  position: relative;
  margin-right: 20px;
  .active{
    border-top-left-radius: $default_border_radius;
    border-bottom-left-radius: $default_border_radius;
    background-color:  $primary_color;
    color: white !important;
    color: $primary_color;
    cursor: auto;


    transform: translateX(10px);
    // -webkit-box-shadow: 10px 8px 28px 4px $primary_color;
    // -moz-box-shadow: 10px 8px 28px 4px $primary_color;
    // box-shadow: 10px 8px 28px 4px $primary_color;
  }
}






// *
// {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//     font-family: "Poppins", sans-serif;
// }

// .tab-content{
//   margin-left: 100px;
// }
// body {
//     position: relative;
//     min-height: 100vh;
//     width: 100%;
//     overflow: hidden;

// }
// .sidebar{
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 78px;
//     background-color: #3d3d3d;
//     padding: 6px 14px;
//     transition: all 0.5s ease;

//     .links_name{
//         opacity: 0;
//         pointer-events: none;
//     }

//     .logo_content{
//         .logo{
//             color:rgb(255, 255, 253);
//             display: flex;
//             height: 50px;
//             width: 100%;
//             align-items: center;
//             opacity: 0;
//             pointer-events: none;
//             i{
//                 font-size: 28px;
//                 margin-right: 5px;
//             }
//             .logo_name{
//                 font-size: 20px;
//                 font-weight: 400;
//             }
//         }
//     }

//     #btn{
//         position: absolute;
//         color:rgb(255, 255, 253);
//         left: 50%;
//         top: 6px;
//         font-size: 20px;
//         height: 50px;
//         width: 50px;
//         text-align: center;
//         line-height: 50px;
//         transform: translateX(-50%)
//     }

//     ul {
//         margin-top: 20px;
//         li {
//             position: relative;
//             height: 50px;
//             width: 100%;
//             margin: 0 5px;
//             list-style: none;
//             line-height: 50px;

//             a{
//                 color: rgb(255, 255, 253);
//                 display: flex;
//                 align-items: center;
//                 text-decoration: none;
//                 border-radius: 12px;
//                 transition: all 0.4s ease;
//                 white-space: nowrap;

//                 &:hover{
//                     color: #3d3d3d;
//                     background: rgb(255, 255, 253);
//                 }

//                 i{
//                     height: 50px;
//                     min-width: 50px;
//                     border-radius: 12px;
//                     line-height: 50px;
//                     text-align: center;
//                 }
//             }

//             .tooltip {
//                 position: absolute;
//                 left: 122px;
//                 top: 0;
//                 transform: translate(-45%, -50%);
//                 border-radius: 6px;
//                 height: 35px;
//                 width: 122px;
//                 line-height: 35px;
//                 text-align: center;
//                 background: rgb(255, 255, 253);
//                 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
//                 transition: 0.2s;
//                 opacity: 0;
//                 pointer-events: none;
//             }
//             &:hover{
//                 .tooltip{
//                     transition: all 0.4s ease;
//                     opacity: 1;
//                     top: 50%;
//                 }
//             }
//         }
//     }
//     .profile_content{
//         position: absolute;
//         color: rgb(255, 255, 253);
//         bottom: 0;
//         left: 0;
//         width: 100%;
//         .profile{
//             position: relative;
//             padding: 10px 6px;
//             height: 60px;
//             .profile_details{
//                 display: flex;
//                 align-items: center;
//                 img{
//                     height: 45px;
//                     width: 45px;
//                     object-fit: cover;
//                     border-radius: 50%;

//                 }
//                 .name{
//                     margin-left: 10px;
//                     font-size: 16px;
//                 }
//             }
//         }
//     }
// }

// #log_out{
//     position: absolute;
//     left: 88%;
//     bottom: 5px;
//     transform: translateX(-50%);
//     min-width: 50px;
//     line-height: 50px;
//     font-size: 20px;
//     border-radius: 12px;
// }

// .sidebar.active{
//     width: 240px;
//     #btn{
//         left: 90%;
//     }
//     .logo_content{
//         .logo {
//             opacity: 1;
//             pointer-events: none;
//         }
//     }
//     .links_name{
//         opacity: 1;
//         pointer-events: auto;
//     }
// }
