.login{
  height: 100vh;

  .login_content{
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 70px;
    h1{
      margin-bottom: 10px;
    }
    img{
      max-height: 300px;
    }
    input{
      margin-bottom: 15px;
    }
    .login_button{
      padding: 7px 60px;
    }
  }
}

